.advantages__container {
  padding: 39px 20px 33px 20px;
  text-align: center;
  min-width: 285px;
  max-width: 520px;
  margin: 0 auto;
}

.advantages__header {
  .header-reset();
  .header-common-s();

  @media (min-width: @tablet-width) {
    .header-common-m();
  }

  &--primary-margin-bottom {
    margin-bottom: 11px;
  }

  &--secondary-margin-bottom {
    margin-bottom: 50px;
  }
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @main-text-color;
  margin: 0;
}

.advantages__description--light-color {
  color: @light-color;
}

.advantages__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;

    &--small {
      flex-basis: 33.3%;
    }
  }
}

.advantages__item-container {
  text-align: center;
  padding: 54px 18px 40px 18px;

  @media (min-width: @tablet-width) {
    flex-basis: 100%;
    padding: 40px 32px 40px 32px;
    box-sizing: border-box;
  }
}

.advantages__item-container--primary-color {
  color: @light-color;
  background-color: @primary-color;

  @media (min-width: @tablet-width) {
    flex-basis: 33.3%;
  }
}

.advantages__item-container--secondary-color {
  background-color: @secondary-color;
}

.advantages__image {
  display: block;
  flex-basis: 66.6%;
  background-color: @substrate-color;
  align-self: center;
  object-fit: cover;
}

.advantages__item-reasons {
  margin-bottom: 30px;
}
