.advantages {
  &__container {
    padding: 39px 18px 33px 18px;
    text-align: center;
  }

  &__header {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }

  &__highlight {
    margin-bottom: 11px;
  }

  &__item-header {
    margin-bottom: 50px;
  }

  &__description {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: @main-text-color;
    margin: 0;
  }

  &__description--light-color {
    color: #ffffff;
  }

  &__list {
    .list-reset();
  }

  &__item-container {
    text-align: center;
    padding: 54px 18px 40px 18px;
  }

  &__item-container--primary-color {
    color: #ffffff;
    background-color: @primary-color;
  }

  &__item-container--secondary-color {
    background-color: @secondary-color;
  }

  &__image {
    display: block;
    background-color: @substrate-color;
  }

  &__item-reasons {
    margin-bottom: 30px;
  }
}
