.feedback {
  max-width: 87.5%;

  @media @tablet {
    max-width: 84.5%;
  }

  @media @desktop {
    max-width: 80%;
  }
}

.feedback__container {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 53px;
  max-width: 435px;
  margin-left: auto;
  margin-right: auto;

  @media @tablet {
    padding-top: 64px;
    padding-bottom: 102px;
  }

  @media @desktop {
    padding-top: 113px;
    padding-bottom: 67px;
  }
}

.feedback__header {
  .header-reset();
  .font-size-s();
  margin-bottom: 24px;

  @media @tablet {
    .font-size-l();
    margin-bottom: 20px;
  }

  @media @desktop {
    margin-bottom: 29px;
  }
}

.feedback__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @main-text-color;
  margin: 0;

  @media @tablet {
    line-height: 24px;
  }
}

.feedback__form {
  margin-bottom: 24px;

  @media @tablet {
    margin-bottom: 64px;
  }
}
