.feedback {
  padding: 36px 20px 24px 20px;
}

.feedback__container {
  text-align: center;
  padding-bottom: 28px;
}

.feedback__header {
  .header-common();
  margin-bottom: 35px;
}

.feedback__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @main-text-color;
  margin: 0;
}
