.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.form__fieldset {
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  flex-basis: 100%;

  &--narrow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @media @tablet {
    &--narrow {
      flex-basis: 50%;
    }
  }
}

.form__list-about {
  .list-reset();
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media @tablet {
    padding-right: 13%;

    &--right {
      padding-right: 0;
      padding-left: 13%;
    }
  }
}

.form__item-about {
  display: flex;
  flex-direction: column;
}

.form__list-mark {
  .list-reset();
  display: grid;
  gap: 16px;

  @media @tablet {
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
  }

  @media @desktop {
    &--three-column {
      grid-template-columns: repeat(3, 1fr);
    }

    &--four-column {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.form__item-mark {
  display: flex;
  align-items: center;
  min-width: 224px;
  min-height: 46px;
}

.form__legend {
  .header-reset();
  .font-size-s();
  text-align: center;
  margin-bottom: 20px;

  @media @tablet {
    .font-size-m();
    margin-bottom: 28px;
  }
}

.form__input-area {
  font-family: inherit;
  .font-size-s();
  font-weight: 700;
  background-color: @bg-first-color;
  border: none;
  padding: 16px;
  box-sizing: border-box;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &::placeholder {
    color: fade(@dark-color, 30%);
  }

  &:focus {
    box-shadow: inset 0 0 0 4px #e5e5e5;
    outline: none;
  }

  &:hover {
    background-color: #e5e5e5;
  }
}

.form__label-thin {
  position: relative;
  .font-size-xs();
  text-transform: uppercase;
  color: @main-text-color;
  padding-left: 15px;

  &--phone::before {
    position: absolute;
    content: "";
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    background-color: #e6e6e6;
    width: 58px;
    height: 58px;
    top: 21px;
    right: 0;
  }

  &--mail::before {
    position: absolute;
    content: "";
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    background-color: #e6e6e6;
    width: 58px;
    height: 58px;
    top: 21px;
    right: 0;
  }
}

.form__label-bold {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 62px;
  cursor: pointer;

  &:hover::before {
    background-color: #e5e5e5;
  }

  &:active::before {
    background-color: #d5d5d5;
  }

  &:active::after {
    opacity: 30%;
  }
}

.form__label-bold--radio {
  &::before {
    position: absolute;
    content: "";
    background-color: @bg-first-color;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
  }

  &::after {
    display: none;
    position: absolute;
    content: "";
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: @main-text-color;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 0;
    left: 15px;
    right: 0;
    bottom: 0;
    margin: auto 0;
  }
}

.form__input-radio[type="radio"]:checked + .form__label-bold--radio::after {
  display: block;
}

.form__label-bold--checkbox {
  &::before {
    position: absolute;
    content: "";
    background-color: @bg-first-color;
    width: 46px;
    height: 46px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
  }

  &::after {
    display: none;
    position: absolute;
    content: "";
    background-image: url("../img/input-mark.svg");
    background-size: 22px 16px;
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
  }
}

.form__input-checkbox[type="checkbox"]:checked + .form__label-bold--checkbox::after {
  display: block;
}

.form__textarea {
  display: block;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  width: 100%;
  max-width: 770px;
  min-height: 150px;
  background-color: @bg-first-color;
  border: none;
  padding: 16px;
  margin: 0 auto;

  &::placeholder {
    color: fade(@dark-color, 30%);
  }
}

.form__button {
  display: block;
  width: 100%;
  max-width: 325px;
  padding: 18px 0 14px 0;
  margin-bottom: 1px;
  cursor: pointer;

  @media @desktop {
    max-width: 385px;
  }
}

.form__button-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media @tablet {
    flex-direction: row;
    max-width: 770px;
    margin: 0 auto;
  }
}

.form__note {
  .font-size-xxs();
  text-transform: uppercase;
  color: fade(@main-text-color, 60%);
  align-self: end;

  @media @tablet {
    color: @main-text-color;
    margin-left: auto;
    align-self: center;
  }
}
