.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 87.5%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 84.5%;
  }

  @media (min-width: @desktop-width) {
    min-width: 100%;
  }
}

.gallery__container {
  padding-top: 33px;
  padding-bottom: 33px;
  text-align: center;
  max-width: 445px;
}

.gallery__header {
  .header-common-mobile();
  margin: 0;
  margin-bottom: 35px;
}

.gallery__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @main-text-color;
  margin: 0;
}
