.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 87.5%;

  @media @tablet {
    max-width: 84.4%;
  }

  @media @desktop {
    min-width: 100%;
  }
}

.gallery__container {
  padding-top: 38px;
  padding-bottom: 36px;
  text-align: center;
  max-width: 445px;

  @media @tablet {
    padding-top: 66px;
    padding-bottom: 81px;
  }

  @media @desktop {
    padding-top: 100px;
  }
}

.gallery__header {
  .header-reset();
  .font-size-s();
  margin-bottom: 25px;

  @media @tablet {
    .font-size-l();
    margin-bottom: 32px;
  }
}

.gallery__description {
  .font-size-xs();
  text-transform: uppercase;
  color: @main-text-color;
  margin-top: 0;
  margin-bottom: 0;
}
