.hero {
  background-color: @substrate-color;
  background-image: url("../../img/hero_background-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 19px 85px 19px;
}
