.hero {
  display: flex;
  background-color: @substrate-color;
  padding: 90px 20px 85px 20px;

  &--background-large {
    background-image: url("../../img/hero-background-large-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--background-small {
    background-image: url("../../img/hero-background-small-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.hero__image {
  margin: auto;
}
