.modal-error {
  padding: 45px 42px 35px 42px;
  text-align: center;
}

.modal-error__container {
  margin-bottom: 28px;
}

.modal-error__header {
  .header-common();
  margin-bottom: 37px;
}

.modal-error__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @main-text-color;
  margin: 0;
}

.modal-error__button {
  display: block;
  width: 180px;
  padding: 18px 0 14px 0;
  margin: 0 auto;
}
