.modal-confirmation {
  position: fixed;
  z-index: 4;
  background-color: fade(@dark-color, 30%);
  width: 100%;
  max-width: 1200px;
  height: 100%;
  text-align: center;
  align-self: center;

  &--close {
    display: none;
  }
}

.modal-confirmation__container {
  position: absolute;
  top: 402px;
  left: 50%;
  transform: translateX(-50%);
  background-color: @light-color;
  width: 320px;
  box-shadow: 0 0 16px fade(@dark-color, 20%);

  @media @tablet {
    top: 162px;
    width: 640px;
  }
}

.modal-confirmation__text-container {
  padding: 39px 40px 51px;

  @media @tablet {
    padding: 51px 100px;
  }
}

.modal-confirmation__header {
  .header-reset();
  .font-size-s();
  margin-bottom: 25px;

  @media @tablet {
    .font-size-l();
    margin-bottom: 30px;
  }
}

.modal-confirmation__description {
  .font-size-xs();
  text-transform: uppercase;
  color: @main-text-color;
  margin: 0;
}

.modal-confirmation__button-container {
  padding: 20px;
  background-color: @secondary-color;

  @media @tablet {
    padding: 45px 90px;
  }
}

.modal-confirmation__button {
  .font-size-s();
  display: block;
  width: 100%;
  max-width: 458px;
  padding-top: 18px;
  padding-bottom: 14px;
  margin: 0 auto;

  @media @tablet {
    .font-size-m();
  }
}
