.navigation {
  position: absolute;
  width: 100%;

  @media @tablet {
    position: static;
    align-self: center;
  }
}

.navigation__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  border: none;

  @media @tablet {
    display: none;
  }
}

.navigation__list {
  .list-reset();
  background-color: @primary-color;
  display: none;

  &--opened {
    display: block;
  }

  @media @tablet {
    display: flex;
    background-color: inherit;
  }
}

.navigation__item {
  text-align: center;

  @media @tablet {
    flex-basis: 25%;

    &--margin-right {
      margin-right: 20%;
    }
  }
}

.navigation__link {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: @light-color;
  text-decoration: none;
  padding: 17px 0 12px 0;

  @media @tablet {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    padding: 18px 0;
  }
}

.navigation__list--close {
  display: none;
}
