.offer {
  padding: 38px 18px 49px 18px;
  text-align: center;
}

.offer__container {
  margin-bottom: 33px;
}

.offer__header {
  .header-common();
  margin-bottom: 31px;
}

.offer__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @main-text-color;
  margin: 0;
}

.offer__button {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}
