.presentation {
  display: flex;
  flex-direction: column;
  max-width: 87.5%;
  margin: 0 auto;

  @media @tablet {
    max-width: 84.5%;
  }

  @media @desktop {
    min-width: 100%;
  }
}

.presentation__container {
  padding: 17px 20px 38px;
  text-align: center;
  max-width: 445px;
  margin: 0 auto;

  @media @tablet {
    padding-top: 60px;
    padding-bottom: 90px;
  }
}

.presentation__header {
  .header-reset();
  .header-common-s();
  margin-bottom: 40px;

  @media @tablet {
    .header-common-l();
    margin-bottom: 40px;
  }
}

.presentation__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @main-text-color;
  margin: 0;
}

.presentation__video {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
