.reasons {
  .list-reset();
}

.reasons__item {
  padding: 22px 18px 22px 65px;
}

.reasons__header {
  .header-common();
  margin-bottom: 16px;
}

.reasons__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
