.reasons {
  .list-reset();

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.reasons__item {
  padding: 22px 18px 22px 65px;

  @media @tablet {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    text-align: center;
    max-width: 400px;
    padding: 160px 20px 60px;
    box-sizing: border-box;
  }

  @media @desktop {
    padding-bottom: 80px;
  }
}

.reason__container {
  @media @tablet {
    padding: 160px 20px 60px;
    max-width: 285px;
  }
}

.reasons__header {
  .header-reset();
  .header-common-s();
  margin-bottom: 25px;

  @media @tablet {
    .header-common-m();
  }
}

.reasons__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
