@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-size: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
.page__body {
  height: 100%;
  min-width: 320px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
}
.page__body-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  max-width: 1200px;
  box-shadow: 0 0 16px #cccccc;
}
.page__main {
  flex-grow: 1;
}
.header {
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .header {
    padding-bottom: 56px;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    display: flex;
  }
}
.header__logo {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .header__logo {
    z-index: 3;
  }
}
.header__logo-image {
  display: block;
}
.navigation {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.navigation--nojs {
  position: static;
}
@media only screen and (min-width: 768px) {
  .navigation {
    position: static;
    align-self: center;
  }
}
.navigation__toggle {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.navigation__toggle--nojs {
  display: none;
}
.navigation__toggle:hover {
  opacity: 60%;
}
.navigation__toggle:active {
  opacity: 30%;
}
.navigation__toggle::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 4px;
  top: -18px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
  background-color: #81b3d2;
}
.navigation__toggle--opened::after,
.navigation__toggle--opened::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  box-shadow: none;
  background-color: #ffffff;
}
.navigation__toggle--opened::after {
  transform: rotate(45deg);
}
.navigation__toggle--opened::before {
  transform: rotate(-45deg);
}
@media only screen and (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}
.navigation__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: none;
  background-color: #81b3d2;
}
@media only screen and (min-width: 768px) {
  .navigation__list {
    margin-bottom: 0;
    box-shadow: none;
  }
}
.navigation__list--opened {
  display: block;
}
@media only screen and (min-width: 768px) {
  .navigation__list {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(5, 1fr);
    background-color: inherit;
  }
  .navigation__list::before {
    display: block;
    content: "";
    grid-column: 3/4;
    grid-row: span 2;
    width: 100%;
    top: 0;
  }
}
.navigation__item {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .navigation__item {
    margin-bottom: 1px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  }
  .navigation__item:first-child {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
  }
  .navigation__item:last-child {
    position: relative;
    margin-bottom: 0;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  }
  .navigation__item:last-child::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 100%);
  }
}
.navigation__link {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 17px 50px 12px 50px;
}
@media only screen and (max-width: 767px) {
  .navigation__link:hover {
    background-color: #669ec0;
  }
  .navigation__link:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
@media only screen and (min-width: 768px) {
  .navigation__link {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    padding: 18px 10px 17px;
  }
  .navigation__link:hover {
    color: #81b3d2;
  }
  .navigation__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .navigation__link--current,
  .navigation__link--current:hover {
    color: #766357;
  }
}
.navigation__list--close {
  display: none;
}
.hero {
  position: relative;
  display: flex;
  background-color: #dbe9f2;
}
.hero--large-content {
  padding-top: 90px;
  padding-bottom: 85px;
  background-image: url("../img/intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .hero--large-content {
    background-image: url("../img/intro@2x.jpg");
    background-size: 1200 auto;
  }
}
@media only screen and (min-width: 768px) {
  .hero--large-content {
    padding-top: 78px;
    padding-bottom: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero--large-content {
    background-size: 100%;
  }
}
.hero--small-content {
  padding: 52px 0 67px;
  background-image: url("../img/intro.jpg");
  background-size: 902px auto;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .hero--small-content {
    background-image: url("../img/intro@2x.jpg");
    background-size: 902px auto;
  }
}
@media only screen and (min-width: 768px) {
  .hero--small-content {
    background-size: 1200px auto;
    padding-top: 94px;
    padding-bottom: 116px;
  }
}
@media only screen and (min-width: 768px) and only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and only screen and (min-resolution: 2dppx) {
  .hero--small-content {
    background-size: 1200 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .hero--small-content {
    padding-top: 101px;
    padding-bottom: 120px;
  }
}
.hero::before {
  position: absolute;
  content: "";
  background-image: url("../img/hero-mask.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 57px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.hero__image {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .hero__image--small {
    width: 460px;
    height: 80px;
  }
}
@media only screen and (min-width: 768px) {
  .hero__image--large {
    width: 461px;
    height: 350px;
  }
}
.advantages__container {
  padding: 33px 25px 16px;
  text-align: center;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  counter-reset: number;
}
@media only screen and (min-width: 768px) {
  .advantages__container {
    padding-top: 49px;
    padding-bottom: 55px;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages__container {
    padding-top: 60px;
    padding-bottom: 44px;
  }
}
.advantages__main-header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 36px;
}
@media only screen and (min-width: 768px) {
  .advantages__main-header {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 29px;
  }
}
.advantages__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  position: relative;
}
.advantages__header--secondary {
  margin-bottom: 49px;
}
.advantages__header::before {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  content: "— №" counter(number) " —";
  counter-increment: number;
  left: 50%;
  bottom: -32px;
  transform: translateX(-50%);
}
@media only screen and (max-width: 767px) {
  .advantages__header br {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .advantages__header {
    font-size: 21px;
    line-height: 26px;
  }
  .advantages__header--secondary {
    margin-bottom: 56px;
  }
}
.advantages__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
}
.advantages__description--light-color {
  color: #ffffff;
}
.advantages__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .advantages__list::before {
    position: absolute;
    content: "";
    background-image: url("../img/catalog-mask.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    height: 37px;
    width: 100%;
    z-index: 1;
  }
}
@media only screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .advantages__item--small:not(:last-child)::before {
    position: absolute;
    content: "";
    background-color: #d6d6d6;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 1px;
  }
}
@media only screen and (min-width: 768px) {
  .advantages__item {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .advantages__item--small {
    flex-basis: 33.33%;
  }
}
.advantages__item-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 26px 29px 24px;
}
.advantages__item-container--high {
  padding-top: 71px;
  padding-bottom: 39px;
}
.advantages__item-container--medium {
  padding-top: 40px;
  padding-bottom: 34px;
}
@media only screen and (min-width: 768px) {
  .advantages__item-container {
    flex-basis: 100%;
    padding: 42px 32px 40px;
    box-sizing: border-box;
    min-height: 256px;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages__item-container {
    padding-right: 55px;
    padding-left: 55px;
  }
  .advantages__item-container--high {
    padding-top: 49px;
  }
  .advantages__item-container--medium {
    padding-top: 52px;
    padding-bottom: 54px;
  }
  .advantages__item-container--small {
    padding-top: 44px;
  }
}
.advantages__item-container--primary-color {
  color: #ffffff;
  background-color: #81b3d2;
}
@media only screen and (min-width: 768px) {
  .advantages__item-container--primary-color {
    flex-basis: 33.33%;
  }
}
.advantages__item-container--secondary-color {
  background-color: #eeeeee;
}
.advantages__item-image-container {
  flex-basis: 66.66%;
}
@media only screen and (min-width: 768px) {
  .advantages__item-image-container--order {
    order: -1;
  }
}
.advantages__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  background-color: #dbe9f2;
}
.advantages__item-reasons {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .advantages__item-reasons {
    margin-bottom: 0;
  }
}
.advantages__transfer {
  display: none;
}
@media only screen and (max-width: 767px) {
  .advantages__transfer--mobile {
    display: inline-block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__transfer--tablet {
    display: inline-block;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages__transfer--desktop {
    display: inline-block;
  }
}
.reasons {
  max-width: 90%;
}
@media only screen and (min-width: 768px) {
  .reasons {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
}
.reasons__item {
  position: relative;
  padding-top: 31px;
  padding-left: 47px;
}
.reasons__item--house::before {
  position: absolute;
  content: "";
  background-image: url("../img/house.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  top: 24px;
  right: 0;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .reasons__item--house::before {
    background-size: 80px;
    width: 80px;
    height: 80px;
    top: 56px;
    left: calc(50% - 40px);
  }
}
.reasons__item--food::before {
  position: absolute;
  content: "";
  background-image: url("../img/burger.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .reasons__item--food::before {
    background-size: 80px;
    width: 80px;
    height: 80px;
    top: 56px;
    left: calc(50% - 40px);
  }
}
.reasons__item--souvenirs::before {
  position: absolute;
  content: "";
  background-image: url("../img/present.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  top: 21px;
  right: 0;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .reasons__item--souvenirs::before {
    background-size: 80px;
    width: 80px;
    height: 80px;
    top: 54px;
    left: calc(50% - 40px);
  }
}
@media only screen and (min-width: 768px) {
  .reasons__item {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    text-align: center;
    padding: 160px 31px 59px;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 1200px) {
  .reasons__item {
    padding: 160px 55px 80px;
  }
}
.reasons__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .reasons__header {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 22px;
  }
}
.reasons__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
.reasons__transfer {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .reasons__transfer--tablet {
    display: inline-block;
  }
}
@media only screen and (min-width: 1200px) {
  .reasons__transfer--desktop {
    display: inline-block;
  }
}
.offer {
  padding: 40px 18px 49px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .offer {
    padding: 60px 20px 58px;
  }
}
@media only screen and (min-width: 1200px) {
  .offer {
    padding-top: 59px;
    padding-bottom: 66px;
  }
}
.offer__container {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 33px;
  max-width: 435px;
}
@media only screen and (min-width: 768px) {
  .offer__container {
    padding-bottom: 43px;
  }
}
@media only screen and (min-width: 1200px) {
  .offer__container {
    padding-bottom: 49px;
  }
}
.offer__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .offer__header {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 31px;
  }
}
.offer__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.offer__description br {
  display: none;
}
@media only screen and (min-width: 768px) {
  .offer__description br {
    display: inline-block;
  }
}
.offer__button {
  display: block;
  padding: 16px;
  max-width: 458px;
  margin-left: auto;
  margin-right: auto;
}
.offer__transfer {
  display: none;
}
@media only screen and (min-width: 768px) {
  .offer__transfer {
    display: inline-block;
  }
}
.button {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
  cursor: pointer;
}
.button:hover:not(:disabled) {
  background-color: #669ec0;
}
.button:active:not(:disabled) {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled {
  opacity: 0.3;
}
.footer {
  padding-top: 32px;
  padding-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 87.5%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    max-width: 84.5%;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__container {
    max-width: 80%;
  }
}
.footer__tagline {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .footer__tagline {
    margin-bottom: 0;
  }
}
.footer__social-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;
}
@media only screen and (min-width: 768px) {
  .footer__social-container {
    margin-bottom: 0;
  }
}
.footer__social-link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
.footer__social-link:not(:last-child) {
  margin-right: 6px;
}
.footer__social-link:hover {
  background-color: #669ec0;
}
.footer__social-link:active .footer__social-icon {
  opacity: 30%;
}
.footer__social-link:active {
  background-color: #5496bd;
}
.footer__social-icon {
  position: absolute;
  fill: #ffffff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.footer__copyright-link {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
}
.footer__copyright-link:hover {
  color: #81b3d2;
}
.footer__copyright-link:active {
  color: #b3b3b3;
}
.footer__copyright-link-description {
  margin-right: 13px;
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 87.5%;
}
@media only screen and (min-width: 768px) {
  .gallery {
    max-width: 84.4%;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery {
    min-width: 100%;
  }
}
.gallery__container {
  padding-top: 38px;
  padding-bottom: 36px;
  text-align: center;
  max-width: 445px;
}
@media only screen and (min-width: 768px) {
  .gallery__container {
    padding-top: 66px;
    padding-bottom: 81px;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__container {
    padding-top: 98px;
    padding-bottom: 89px;
  }
}
.gallery__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .gallery__header {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}
.gallery__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
}
.photo-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.photo-list__item {
  position: relative;
  padding-top: 25px;
  padding-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  .photo-list__item::before {
    position: absolute;
    content: "";
    background-color: #e5e5e5;
    height: 1px;
    top: 0;
    left: -8%;
    width: 115%;
  }
}
@media only screen and (min-width: 768px) {
  .photo-list__item {
    flex-basis: 50%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.photo-list__item:first-child {
  flex-basis: 100%;
}
@media only screen and (min-width: 1200px) {
  .photo-list__item {
    flex-basis: 33.33%;
    position: relative;
  }
}
.photo-list__image {
  display: block;
  width: 100%;
  height: auto;
  background-color: #dbe9f2;
}
.photo-list__item-container {
  padding-top: 15px;
}
@media only screen and (min-width: 768px) {
  .photo-list__item-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 22px 20px 16px;
  }
  .photo-list__item-container--first-bg-color {
    background-color: #f2f2f2;
  }
  .photo-list__item-container--second-bg-color {
    background-color: #eaeaea;
  }
}
@media only screen and (min-width: 1200px) {
  .photo-list__item-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.photo-list__title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  grid-column: 1/2;
}
@media only screen and (min-width: 1200px) {
  .photo-list__title {
    color: #ffffff;
  }
}
.photo-list__author {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding-bottom: 7px;
  grid-column: 1/2;
}
@media only screen and (min-width: 768px) {
  .photo-list__author {
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .photo-list__author {
    color: #ffffff;
  }
}
.photo-list__like-link {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.photo-list__like-link:hover .photo-list__like-icon {
  fill: #81b3d2;
}
.photo-list__like-link:active .photo-list__like-icon {
  opacity: 50%;
}
@media only screen and (min-width: 768px) {
  .photo-list__like-link {
    justify-content: end;
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: end;
    align-self: center;
    margin-left: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .photo-list__like-link {
    color: #ffffff;
  }
}
.photo-list__like-icon {
  fill: rgba(0, 0, 0, 0.3);
  margin-right: 14px;
  margin-top: -10px;
}
@media only screen and (min-width: 768px) {
  .photo-list__like-icon {
    margin-right: 9px;
    margin-top: -8px;
  }
}
@media only screen and (min-width: 1200px) {
  .photo-list__like-icon {
    fill: #ffffff;
  }
}
.presentation {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 87.5%;
}
@media only screen and (max-width: 767px) {
  .presentation::before {
    position: absolute;
    content: "";
    background-color: #d6d6d6;
    height: 1px;
    top: 0;
    left: -8%;
    width: 115%;
  }
}
@media only screen and (min-width: 768px) {
  .presentation {
    max-width: 84.5%;
  }
}
@media only screen and (min-width: 1200px) {
  .presentation {
    min-width: 100%;
  }
}
.presentation__container {
  padding: 18px 20px 38px;
  text-align: center;
  max-width: 445px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .presentation__container {
    padding-top: 56px;
    padding-bottom: 89px;
  }
}
@media only screen and (min-width: 1200px) {
  .presentation__container {
    padding-top: 60px;
    padding-bottom: 87px;
  }
}
.presentation__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 27px;
}
@media only screen and (min-width: 768px) {
  .presentation__header {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}
.presentation__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.presentation__video-container {
  position: relative;
}
.presentation__play-button {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 14px;
  margin: auto;
  width: 48px;
  height: 54px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .presentation__play-button {
    left: 0;
  }
}
.presentation__video {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .presentation__video {
    height: 500px;
    width: 648px;
  }
}
@media only screen and (min-width: 1200px) {
  .presentation__video {
    height: 500px;
    width: 800px;
  }
}
.feedback {
  max-width: 87.5%;
}
@media only screen and (min-width: 768px) {
  .feedback {
    max-width: 84.5%;
  }
}
@media only screen and (min-width: 1200px) {
  .feedback {
    max-width: 80%;
  }
}
.feedback__container {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 53px;
  max-width: 435px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .feedback__container {
    padding-top: 64px;
    padding-bottom: 102px;
  }
}
@media only screen and (min-width: 1200px) {
  .feedback__container {
    padding-top: 113px;
    padding-bottom: 67px;
  }
}
.feedback__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .feedback__header {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .feedback__header {
    margin-bottom: 29px;
  }
}
.feedback__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .feedback__description {
    line-height: 24px;
  }
}
.feedback__form {
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .feedback__form {
    margin-bottom: 64px;
  }
}
.form {
  display: grid;
  gap: 49px;
}
@media only screen and (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 42px 88px;
  }
}
@media only screen and (min-width: 1200px) {
  .form {
    grid-template-columns: 430px 402px;
    gap: 56px 128px;
  }
}
.form__fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
  margin: 0;
  padding: 0;
}
.form__fieldset--radio {
  display: grid;
  gap: 16px;
}
.form__fieldset--checkbox {
  display: grid;
  gap: 16px;
}
.form__fieldset--narrow:first-child {
  padding-bottom: 16px;
}
.form__fieldset--narrow {
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .form__fieldset--narrow:nth-child(odd)::before {
    position: absolute;
    content: "";
    background-color: #dbdbdb;
    width: 1px;
    height: 100%;
    top: 0;
    right: -44px;
  }
  .form__fieldset--narrow {
    margin-bottom: 6px;
  }
  .form__fieldset--wide {
    display: grid;
    grid-column: 1/-1;
    align-items: center;
  }
  .form__fieldset--radio {
    display: grid;
    grid-template-columns: 280px 280px;
    gap: 16px;
    margin: 0 auto;
    padding-bottom: 7px;
  }
  .form__fieldset--checkbox {
    display: grid;
    grid-template-columns: 224px 224px;
    gap: 16px 32px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .form__fieldset--narrow {
    margin-bottom: 0;
  }
  .form__fieldset--narrow:nth-child(odd)::before {
    right: -64px;
  }
  .form__fieldset--radio {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 16px 65px;
    padding-bottom: 16px;
  }
  .form__fieldset--checkbox {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 16px 64px;
    padding-bottom: 32px;
  }
}
.form__label-description {
  margin-left: 15px;
}
.form__item-mark {
  display: flex;
  align-items: center;
  min-width: 224px;
  min-height: 46px;
}
.form__legend {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
.form__legend::before {
  position: absolute;
  content: "";
  background-color: #e5e5e5;
  height: 1px;
  width: 115%;
  top: -24px;
  left: -8%;
}
@media only screen and (min-width: 768px) {
  .form__legend {
    font-size: 21px;
    line-height: 26px;
    max-width: 400px;
  }
  .form__legend::before {
    display: none;
  }
  .form__legend--wide {
    position: relative;
  }
  .form__legend--indent-right {
    margin-left: -40px;
  }
  .form__legend--indent-left {
    margin-left: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .form__legend--indent-right {
    margin-left: -31px;
  }
  .form__legend--indent-left {
    margin-left: 64px;
  }
}
.form__legend-container {
  position: relative;
  margin-bottom: 4px;
  grid-column: 1/-1;
}
@media only screen and (min-width: 768px) {
  .form__legend-container {
    margin-bottom: 28px;
  }
  .form__legend-container--narrow {
    margin-bottom: 12px;
  }
  .form__legend-container--wide {
    margin-bottom: 12px;
  }
  .form__legend-container--wide::before {
    position: absolute;
    content: "";
    background-color: #e5e5e5;
    height: 1px;
    width: 100%;
    top: 50%;
    right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .form__legend-container--wide {
    margin-bottom: 28px;
  }
  .form__legend-container--indent {
    margin-bottom: 44px;
  }
  .form__legend-container--second-indent {
    margin-bottom: 11px;
  }
}
.form__input-area {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}
.form__input-area:not(:last-child) {
  margin-bottom: 16px;
}
.form__input-area::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__input-area:hover:not(:disabled) {
  background-color: #e5e5e5;
}
.form__input-area:focus:not(:disabled) {
  box-shadow: inset 0 0 0 4px #e5e5e5;
  background-color: #ffffff;
  outline: none;
}
.form__input-area:disabled {
  opacity: 0.3;
}
.form__label-thin {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.form__label-thin--phone::before {
  position: absolute;
  content: "";
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
  background-color: #e6e6e6;
  width: 58px;
  height: 58px;
  top: 21px;
  right: 0;
}
.form__label-thin--mail::before {
  position: absolute;
  content: "";
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
  background-color: #e6e6e6;
  width: 58px;
  height: 58px;
  top: 21px;
  right: 0;
}
.form__label-bold {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 10px 0  10px 62px;
  cursor: pointer;
}
.form__label-bold:hover::before {
  background-color: #e5e5e5;
}
.form__label-bold:active::before {
  background-color: #e5e5e5;
}
.form__label-bold:active::after {
  opacity: 30%;
}
.form__label-bold--radio {
  box-sizing: border-box;
}
.form__label-bold--radio::before {
  position: absolute;
  content: "";
  background-color: #f2f2f2;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
}
.form__label-bold--radio::after {
  display: none;
  position: absolute;
  content: "";
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 0;
  left: 15px;
  right: 0;
  bottom: 0;
  margin: auto 0;
}
.form__input-radio[type="radio"]:checked + .form__label-bold--radio::after {
  display: block;
}
.form__input-radio[type="radio"]:focus + .form__label-bold--radio::before {
  background-color: #e5e5e5;
}
.form__input-radio[type="radio"]:disabled + .form__label-bold--radio::before,
.form__input-radio[type="radio"]:disabled + .form__label-bold--radio {
  opacity: 0.3;
}
.form__label-bold--checkbox {
  box-sizing: border-box;
}
.form__label-bold--checkbox::before {
  position: absolute;
  content: "";
  background-color: #f2f2f2;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
}
.form__label-bold--checkbox::after {
  display: none;
  position: absolute;
  content: "";
  background-image: url("../img/input-mark.svg");
  background-size: 22px 16px;
  background-repeat: no-repeat;
  background-position: center;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
}
.form__input-checkbox[type="checkbox"]:checked + .form__label-bold--checkbox::after {
  display: block;
}
.form__input-checkbox[type="checkbox"]:focus + .form__label-bold--checkbox::before {
  background-color: #e5e5e5;
}
.form__input-checkbox[type="checkbox"]:disabled + .form__label-bold--checkbox::before,
.form__input-checkbox[type="checkbox"]:disabled + .form__label-bold--checkbox {
  opacity: 0.3;
}
.form__textarea {
  display: block;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  width: 100%;
  max-width: 770px;
  height: 150px;
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  resize: none;
  box-sizing: border-box;
}
.form__textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__textarea:hover:not(:disabled) {
  background-color: #e5e5e5;
}
.form__textarea:focus:not(:disabled) {
  box-shadow: inset 0 0 0 4px #e5e5e5;
  background-color: #ffffff;
  outline: none;
}
.form__textarea:disabled {
  opacity: 0.3;
}
@media only screen and (min-width: 768px) {
  .form__textarea {
    height: 160px;
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 1200px) {
  .form__textarea {
    margin-bottom: 0;
  }
}
.form__button {
  display: block;
  width: 100%;
  max-width: 325px;
  padding: 18px 10px 14px;
  margin-bottom: 1px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .form__button {
    padding-right: 22px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .form__button {
    max-width: 385px;
  }
}
.form__button-container {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .form__button-container {
    flex-direction: row;
    max-width: 770px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .form__button-container {
    margin-top: -7px;
  }
}
.form__note {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  align-self: end;
}
@media only screen and (min-width: 768px) {
  .form__note {
    font-size: 14px;
    color: #333333;
    margin-left: auto;
    margin-bottom: 14px;
  }
}
.modal-error {
  position: fixed;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.modal-error--close {
  display: none;
}
.modal-error__container {
  position: absolute;
  top: 116px;
  left: 50%;
  transform: translateX(-50%);
  padding: 45px 42px 35px 42px;
  text-align: center;
  align-self: center;
  width: 320px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 768px) {
  .modal-error__container {
    top: 283px;
    width: 400px;
  }
}
.modal-error__text-container {
  margin-bottom: 28px;
}
.modal-error__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 38px;
}
@media only screen and (min-width: 768px) {
  .modal-error__header {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 38px;
  }
}
.modal-error__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.modal-error__button {
  display: block;
  width: 180px;
  padding-top: 18px;
  padding-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
}
.modal-confirmation {
  position: fixed;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  text-align: center;
  align-self: center;
}
.modal-confirmation--close {
  display: none;
}
.modal-confirmation__container {
  position: absolute;
  top: 402px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  width: 320px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 768px) {
  .modal-confirmation__container {
    top: 162px;
    width: 640px;
  }
}
.modal-confirmation__text-container {
  padding: 45px 40px 35px;
}
@media only screen and (min-width: 768px) {
  .modal-confirmation__text-container {
    padding: 57px 100px 35px;
  }
}
.modal-confirmation__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 37px;
}
@media only screen and (min-width: 768px) {
  .modal-confirmation__header {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 37px;
  }
}
.modal-confirmation__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.modal-confirmation__button-container {
  padding: 20px;
  background-color: #eeeeee;
}
@media only screen and (min-width: 768px) {
  .modal-confirmation__button-container {
    padding: 45px 90px;
  }
}
.modal-confirmation__button {
  display: block;
  width: 100%;
  max-width: 460px;
  padding-top: 18px;
  padding-bottom: 14px;
  margin: 0 auto;
}
.interactive-map {
  padding-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .interactive-map {
    padding-bottom: 0;
  }
}
.interactive-map__map {
  display: block;
  border: 0;
  height: 350px;
  width: 100%;
}
.main-form__feedback {
  margin-left: auto;
  margin-right: auto;
}
.main__gallery {
  margin-left: auto;
  margin-right: auto;
}
.main__presentation {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .main__presentation {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .main__presentation {
    margin-bottom: 84px;
  }
}
body {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
}
/*# sourceMappingURL=style.css.map */
