@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-size: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
.page__body {
  height: 100%;
  min-width: 320px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
}
.page__body-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
  max-width: 1200px;
  box-shadow: 0 0 16px #cccccc;
}
.page__main {
  flex-grow: 1;
}
.header {
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .header {
    padding-bottom: 56px;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    display: flex;
  }
}
.header__logo {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  .header__logo {
    bottom: -40px;
  }
}
.header__logo-image {
  display: block;
}
.navigation {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.navigation--nojs {
  position: static;
}
@media only screen and (min-width: 768px) {
  .navigation {
    position: static;
    align-self: center;
  }
}
.navigation__toggle {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.navigation__toggle--nojs {
  display: none;
}
.navigation__toggle:hover {
  opacity: 60%;
}
.navigation__toggle:active {
  opacity: 30%;
}
.navigation__toggle::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 4px;
  top: -18px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
  background-color: #81b3d2;
}
.navigation__toggle--opened::after,
.navigation__toggle--opened::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  box-shadow: none;
  background-color: #ffffff;
}
.navigation__toggle--opened::after {
  transform: rotate(45deg);
}
.navigation__toggle--opened::before {
  transform: rotate(-45deg);
}
@media only screen and (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}
.navigation__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: none;
  background-color: #81b3d2;
}
@media only screen and (min-width: 768px) {
  .navigation__list {
    margin-bottom: 0;
    box-shadow: none;
  }
}
.navigation__list--opened {
  display: block;
}
@media only screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    background-color: inherit;
  }
}
.navigation__item {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .navigation__item {
    margin-bottom: 1px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  }
  .navigation__item:first-child {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
  }
  .navigation__item:last-child {
    margin-bottom: 0;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 15%);
  }
}
@media only screen and (min-width: 768px) {
  .navigation__item {
    flex-basis: 25%;
  }
  .navigation__item--margin-right {
    margin-right: 20%;
  }
}
.navigation__link {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 17px 50px 12px 50px;
}
@media only screen and (max-width: 767px) {
  .navigation__link:hover {
    background-color: #669ec0;
  }
  .navigation__link:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
@media only screen and (min-width: 768px) {
  .navigation__link {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    padding: 18px 10px;
  }
  .navigation__link:hover {
    color: #81b3d2;
  }
  .navigation__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .navigation__link--current,
  .navigation__link--current:hover {
    color: #766357;
  }
}
.navigation__list--close {
  display: none;
}
.hero {
  position: relative;
  display: flex;
  background-color: #dbe9f2;
}
.hero--large-content {
  padding: 90px 0 85px;
  background-image: url("../img/intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .hero--large-content {
    background-image: url("../img/intro@2x.jpg");
    background-size: 1200 auto;
  }
}
@media only screen and (min-width: 768px) {
  .hero--large-content {
    padding: 78px 0 90px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero--large-content {
    background-size: 100%;
  }
}
.hero--small-content {
  padding: 52px 0 67px;
  background-image: url("../img/intro.jpg");
  background-size: 902px auto;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .hero--small-content {
    background-image: url("../img/intro@2x.jpg");
    background-size: 902px auto;
  }
}
@media only screen and (min-width: 768px) {
  .hero--small-content {
    background-size: 1200px auto;
    padding: 95px 0 117px;
  }
}
@media only screen and (min-width: 768px) and only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and only screen and (min-resolution: 2dppx) {
  .hero--small-content {
    background-size: 1200 auto;
  }
}
.hero::before {
  position: absolute;
  content: "";
  background-image: url("../img/hero-mask.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 57px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.hero__image {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .hero__image--small {
    width: 460px;
    height: 80px;
  }
}
@media only screen and (min-width: 768px) {
  .hero__image--large {
    width: 461px;
    height: 350px;
  }
}
.advantages__container {
  padding: 39px 25px 33px;
  text-align: center;
  max-width: 520px;
  margin: 0 auto;
  counter-reset: number;
}
.advantages__main-header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.advantages__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  position: relative;
}
.advantages__header::before {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  content: "— №" counter(number) " —";
  counter-increment: number;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
}
@media only screen and (max-width: 767px) {
  .advantages__header br {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .advantages__header {
    font-size: 21px;
    line-height: 26px;
  }
}
.advantages__header--primary-margin-bottom {
  margin-bottom: 11px;
}
.advantages__header--secondary-margin-bottom {
  margin-bottom: 60px;
}
.advantages__header-transfer {
  display: none;
}
@media only screen and (min-width: 768px) {
  .advantages__header-transfer {
    display: inline-block;
  }
}
.advantages__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .advantages__description br {
    display: inline-block;
  }
}
.advantages__description--light-color {
  color: #ffffff;
}
.advantages__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .advantages__list::before {
    position: absolute;
    content: "";
    background-image: url("../img/catalog-mask.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    height: 37px;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .advantages__item {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .advantages__item--small {
    flex-basis: 33.33%;
  }
}
.advantages__item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 54px 30px 40px;
}
@media only screen and (min-width: 768px) {
  .advantages__item-container {
    flex-basis: 100%;
    padding: 40px 32px 40px;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages__item-container {
    padding: 47px 67px 56px;
  }
}
.advantages__item-container--primary-color {
  color: #ffffff;
  background-color: #81b3d2;
}
@media only screen and (min-width: 768px) {
  .advantages__item-container--primary-color {
    flex-basis: 33.33%;
  }
}
.advantages__item-container--secondary-color {
  background-color: #eeeeee;
}
.advantages__item-image-container {
  flex-basis: 66.66%;
}
.advantages__image {
  width: 100%;
  display: block;
  background-color: #dbe9f2;
}
.advantages__item-reasons {
  margin-bottom: 30px;
}
.reasons {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .reasons {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
}
.reasons__item {
  position: relative;
  padding: 22px 18px 22px 47px;
}
.reasons__item--house::before {
  position: absolute;
  content: "";
  background-image: url("../img/house.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  top: 13px;
  right: 0;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .reasons__item--house::before {
    background-size: 80px;
    top: 60px;
    left: calc(50% - 40px);
  }
}
.reasons__item--food::before {
  position: absolute;
  content: "";
  background-image: url("../img/burger.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  top: 13px;
  right: 0;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .reasons__item--food::before {
    background-size: 80px;
    top: 60px;
    left: calc(50% - 40px);
  }
}
.reasons__item--souvenirs::before {
  position: absolute;
  content: "";
  background-image: url("../img/present.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  top: 13px;
  right: 0;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .reasons__item--souvenirs::before {
    background-size: 80px;
    top: 60px;
    left: calc(50% - 40px);
  }
}
@media only screen and (min-width: 768px) {
  .reasons__item {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    text-align: center;
    max-width: 400px;
    padding: 160px 30px 60px;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 1200px) {
  .reasons__item {
    padding: 160px 55px 80px;
  }
}
.reasons__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .reasons__header {
    font-size: 21px;
    line-height: 26px;
  }
}
.reasons__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
.offer {
  padding: 40px 20px 50px 20px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .offer {
    padding: 60px 20px 75px 20px;
  }
}
.offer__container {
  margin: 0 auto 33px;
  max-width: 435px;
}
.offer__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 31px;
}
@media only screen and (min-width: 768px) {
  .offer__header {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 38px;
  }
}
.offer__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.offer__button {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  max-width: 458px;
  margin: 0 auto;
}
.button {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
  cursor: pointer;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.footer {
  padding-top: 40px;
  padding-bottom: 30px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 87.5%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    max-width: 84.5%;
  }
}
@media only screen and (min-width: 768px) and only screen and (min-width: 1200px) {
  .footer__container {
    max-width: 80%;
  }
}
.footer__tagline {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 33px;
}
@media only screen and (min-width: 768px) {
  .footer__tagline {
    margin-bottom: 0;
  }
}
.footer__social-container {
  display: flex;
  margin-bottom: 47px;
}
@media only screen and (min-width: 768px) {
  .footer__social-container {
    margin-bottom: 0;
  }
}
.footer__social-link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
.footer__social-link:not(:last-child) {
  margin-right: 6px;
}
.footer__social-link:hover {
  background-color: #669ec0;
}
.footer__social-link:active .footer__social-icon {
  opacity: 30%;
}
.footer__social-link:active {
  background-color: #5496bd;
}
.footer__social-icon {
  position: absolute;
  fill: #ffffff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.footer__copyright-link {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
}
.footer__copyright-link:hover {
  color: #81b3d2;
  fill: #81b3d2;
}
.footer__copyright-link:active {
  color: #b3b3b3;
  fill: #b3b3b3;
}
.footer__copyright-link-description {
  margin-right: 13px;
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 87.5%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .gallery {
    max-width: 84.5%;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery {
    min-width: 100%;
  }
}
.gallery__container {
  padding-top: 33px;
  padding-bottom: 33px;
  text-align: center;
  max-width: 445px;
}
@media only screen and (min-width: 768px) {
  .gallery__container {
    padding-top: 62px;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__container {
    padding-top: 100px;
  }
}
.gallery__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 37px;
}
@media only screen and (min-width: 768px) {
  .gallery__header {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 37px;
  }
}
.gallery__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
}
.photo-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.photo-list__item {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .photo-list__item {
    flex-basis: 50%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.photo-list__item:first-child {
  flex-basis: 100%;
}
@media only screen and (min-width: 1200px) {
  .photo-list__item {
    flex-basis: 33.33%;
    position: relative;
  }
}
.photo-list__image {
  display: block;
  width: 100%;
  background-color: #dbe9f2;
}
.photo-list__item-container {
  padding-top: 15px;
}
@media only screen and (min-width: 768px) {
  .photo-list__item-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 20px 15px;
  }
  .photo-list__item-container--first-bg-color {
    background-color: #f2f2f2;
  }
  .photo-list__item-container--second-bg-color {
    background-color: #eaeaea;
  }
}
@media only screen and (min-width: 1200px) {
  .photo-list__item-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.photo-list__title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  grid-column: 1/2;
}
@media only screen and (min-width: 1200px) {
  .photo-list__title {
    color: #ffffff;
  }
}
.photo-list__author {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding-bottom: 11px;
  grid-column: 1/2;
}
@media only screen and (min-width: 768px) {
  .photo-list__author {
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .photo-list__author {
    color: #ffffff;
  }
}
.photo-list__like-link {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.photo-list__like-link:hover .photo-list__like-icon {
  fill: #81b3d2;
}
.photo-list__like-link:active .photo-list__like-icon {
  opacity: 50%;
}
@media only screen and (min-width: 768px) {
  .photo-list__like-link {
    justify-content: end;
    padding-left: 0;
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: end;
    align-self: center;
  }
}
@media only screen and (min-width: 1200px) {
  .photo-list__like-link {
    color: #ffffff;
  }
}
.photo-list__like-icon {
  fill: rgba(0, 0, 0, 0.3);
  margin-right: 14px;
  margin-top: -10px;
}
@media only screen and (min-width: 768px) {
  .photo-list__like-icon {
    margin-right: 9px;
    margin-top: -8px;
  }
}
@media only screen and (min-width: 1200px) {
  .photo-list__like-icon {
    fill: #ffffff;
  }
}
.presentation {
  display: flex;
  flex-direction: column;
  max-width: 87.5%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .presentation {
    max-width: 84.5%;
  }
}
@media only screen and (min-width: 1200px) {
  .presentation {
    min-width: 100%;
  }
}
.presentation__container {
  padding: 17px 20px 38px;
  text-align: center;
  max-width: 445px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .presentation__container {
    padding-top: 60px;
    padding-bottom: 90px;
  }
}
.presentation__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .presentation__header {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 40px;
  }
}
.presentation__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.presentation__video-container {
  position: relative;
}
.presentation__play-button {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 48px;
  height: 54px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  cursor: pointer;
}
.presentation__video {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .presentation__video {
    height: 500px;
    width: 648px;
  }
}
@media only screen and (min-width: 1200px) {
  .presentation__video {
    height: 500px;
    width: 800px;
  }
}
.feedback {
  max-width: 87.5%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .feedback {
    max-width: 84.5%;
  }
}
@media only screen and (min-width: 1200px) {
  .feedback {
    max-width: 80%;
  }
}
.feedback__container {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 53px;
  max-width: 435px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .feedback__container {
    padding-bottom: 102px;
  }
}
.feedback__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .feedback__header {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}
.feedback__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.form {
  display: grid;
  gap: 49px;
}
@media only screen and (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 42px 88px;
  }
}
.form__fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
  margin: 0;
  padding: 0;
}
.form__fieldset--radio {
  display: grid;
  gap: 16px;
}
.form__fieldset--checkbox {
  display: grid;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .form__fieldset--narrow:nth-child(odd)::before {
    position: absolute;
    content: "";
    background-color: #dbdbdb;
    width: 1px;
    height: 100%;
    top: 0;
    right: -43px;
  }
  .form__fieldset--wide {
    display: grid;
    grid-column: 1/-1;
    align-items: center;
  }
  .form__fieldset--radio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 0 auto;
  }
  .form__fieldset--checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 32px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .form__fieldset--radio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;
  }
  .form__fieldset--checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px 32px;
  }
}
.form__item-mark {
  display: flex;
  align-items: center;
  min-width: 224px;
  min-height: 46px;
}
.form__legend {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
.form__legend--narrow {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .form__legend--narrow {
    margin-bottom: 28px;
  }
}
.form__legend::before {
  position: absolute;
  content: "";
  background-color: #e5e5e5;
  height: 1px;
  width: 100%;
  top: -24px;
  right: 0;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .form__legend {
    font-size: 21px;
    line-height: 26px;
    max-width: 400px;
  }
  .form__legend::before {
    display: none;
  }
  .form__legend--wide {
    position: relative;
  }
}
.form__legend-container {
  position: relative;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .form__legend-container {
    margin-bottom: 28px;
  }
  .form__legend-container::before {
    position: absolute;
    content: "";
    background-color: #e5e5e5;
    height: 1px;
    width: 100%;
    top: 50%;
    right: 0;
  }
}
.form__input-area {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}
.form__input-area:not(:last-child) {
  margin-bottom: 16px;
}
.form__input-area::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__input-area:focus {
  box-shadow: inset 0 0 0 4px #e5e5e5;
  outline: none;
}
.form__input-area:hover {
  background-color: #e5e5e5;
}
.form__label-thin {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.form__label-thin--phone::before {
  position: absolute;
  content: "";
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
  background-color: #e6e6e6;
  width: 58px;
  height: 58px;
  top: 21px;
  right: 0;
}
.form__label-thin--mail::before {
  position: absolute;
  content: "";
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
  background-color: #e6e6e6;
  width: 58px;
  height: 58px;
  top: 21px;
  right: 0;
}
.form__label-bold {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 10px 0  10px 62px;
  cursor: pointer;
}
.form__label-bold:hover::before {
  background-color: #e5e5e5;
}
.form__label-bold:active::before {
  background-color: #d5d5d5;
}
.form__label-bold:active::after {
  opacity: 30%;
}
.form__label-bold--radio {
  box-sizing: border-box;
}
.form__label-bold--radio::before {
  position: absolute;
  content: "";
  background-color: #f2f2f2;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
}
.form__label-bold--radio::after {
  display: none;
  position: absolute;
  content: "";
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 0;
  left: 15px;
  right: 0;
  bottom: 0;
  margin: auto 0;
}
.form__input-radio[type="radio"]:checked + .form__label-bold--radio::after {
  display: block;
}
.form__input-radio[type="radio"]:focus + .form__label-bold--radio::before {
  background-color: #e5e5e5;
}
.form__label-bold--checkbox {
  box-sizing: border-box;
}
.form__label-bold--checkbox::before {
  position: absolute;
  content: "";
  background-color: #f2f2f2;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
}
.form__label-bold--checkbox::after {
  display: none;
  position: absolute;
  content: "";
  background-image: url("../img/input-mark.svg");
  background-size: 22px 16px;
  background-repeat: no-repeat;
  background-position: center;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
}
.form__input-checkbox[type="checkbox"]:checked + .form__label-bold--checkbox::after {
  display: block;
}
.form__input-checkbox[type="checkbox"]:focus + .form__label-bold--checkbox::before {
  background-color: #e5e5e5;
}
.form__textarea {
  display: block;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  width: 100%;
  max-width: 770px;
  min-height: 150px;
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  margin: 0 auto;
  resize: none;
  box-sizing: border-box;
}
.form__textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.form__textarea:focus {
  box-shadow: inset 0 0 0 4px #e5e5e5;
  outline: none;
}
.form__textarea:hover {
  background-color: #e5e5e5;
}
.form__button {
  display: block;
  width: 100%;
  max-width: 325px;
  padding: 18px 0 14px 0;
  margin-bottom: 1px;
  cursor: pointer;
}
@media only screen and (min-width: 1200px) {
  .form__button {
    max-width: 385px;
  }
}
.form__button-container {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .form__button-container {
    flex-direction: row;
    max-width: 770px;
    margin: 0 auto;
  }
}
.form__note {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  align-self: end;
}
@media only screen and (min-width: 768px) {
  .form__note {
    color: #333333;
    margin-left: auto;
    align-self: center;
  }
}
.modal-error {
  padding: 45px 42px 35px 42px;
  text-align: center;
  align-self: center;
  max-width: 400px;
  box-sizing: border-box;
}
.modal-error__container {
  margin-bottom: 28px;
}
.modal-error__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 38px;
}
@media only screen and (min-width: 768px) {
  .modal-error__header {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 38px;
  }
}
.modal-error__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.modal-error__button {
  display: block;
  width: 180px;
  padding: 18px 0 14px 0;
  margin: 0 auto;
}
.modal-confirmation {
  text-align: center;
  align-self: center;
}
@media only screen and (min-width: 768px) {
  .modal-confirmation {
    width: 640px;
  }
}
.modal-confirmation__container {
  padding: 45px 40px 35px;
}
@media only screen and (min-width: 768px) {
  .modal-confirmation__container {
    padding: 57px 100px 35px;
  }
}
.modal-confirmation__header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 37px;
}
@media only screen and (min-width: 768px) {
  .modal-confirmation__header {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 37px;
  }
}
.modal-confirmation__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.modal-confirmation__button-container {
  padding: 20px;
  background-color: #eeeeee;
}
@media only screen and (min-width: 768px) {
  .modal-confirmation__button-container {
    padding: 45px 90px;
  }
}
.modal-confirmation__button {
  display: block;
  width: 100%;
  max-width: 460px;
  padding: 18px 0 14px;
  margin: 0 auto;
}
.interactive-map__map {
  display: block;
  border: 0;
  height: 350px;
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/*# sourceMappingURL=style.css.map */
